h1 {
  font-family: 'Trade Winds', cursive;
  color: firebrick;
  // padding-top: 1em;
  padding-left: 0.25em;
  margin: 0;
  font-size: 50px;
  text-shadow: 1px 1px 2px black;
}

h2 {
  font-size: 40px;
}

.about {
  display: flex;
  align-items: left;
  flex-direction: column;
  flex-wrap: wrap;

  .info {
    display: flex;
    align-items: center;
    color: white;
    flex-wrap: wrap;

    p {
      flex-direction: row;
      margin: 1em;
      margin-bottom: 0;
      padding: 1em;
      padding-bottom: 1em;
      background-color: transparentize(black, 0.3);
      border-radius: 10px;
    }
  }
}

button {
  height: 50px;
  width: 100px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background-color: firebrick;
  box-shadow: 1px 1px 1px black;
  margin: 1em;

  &:hover {
    background-color: gold;
    box-shadow: 2px 2px 2px white;
  }

  i {
    margin-top: 2px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  h1 {
    font-size: 49px;
  }
}
