@import 'utility';
@import url('https://fonts.googleapis.com/css?family=Ceviche+One');

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);

  margin: 0;
  font: $base-text-size / 1 $base-font-family;

  nav {
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: firebrick;
      border: 1px solid black;

      li {
        padding: 10px;

        &:hover {
          background-color: indianred;
        }
      }
    }
  }
}

.root {
  display: flex;
  flex-direction: column;
  text-align: center;

  .header {
    background-image: url('./montage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 250px;
    width: 100%;
    padding: 0;
    margin: 0;

    h1 {
      font-family: 'Ceviche One', cursive;
      padding-top: 4em;
      font-size: 40px;
    }
  }

  .recruit {
    display: flex;
    margin: 1em;

    h2 {
      background-image: url('./practice.jpg');
      height: 200px;
      width: 400px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

}
